.card_size_m {
    grid-column-end: span 3;
    grid-template-areas:
      'heading heading'
      'image image'
      'description tools'
      'author tools';
    grid-template-rows: 2.70em max-content auto 32px;
    grid-template-columns: auto 1fr;
}

.card_size_m .card-tools {
  flex-direction: column;
  align-self: auto;
}