.card-tools {
    align-self: flex-end;
    grid-area: tools;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 5px;
    box-sizing: border-box;
}