@import './fonts/fonts.css';

body {
  font-family: 'YS Text', 'Helvetica', Arial, sans-serif;
  font-size: calc(12px + 0.2vw);
  min-width: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 4em;
}

a {
  color: inherit;
}