.card_size_xl {
    grid-column: 1/-1;
    grid-template-areas:
        'image heading'
        'image description'
        'image description'
        'author tools';
    grid-template-columns: 2fr 1.25fr;
    grid-template-rows: max-content min-content auto;
    font-size: 1.225em;
}