.card-thumbnail {
    grid-area: image;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
}

.card-thumbnail img {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}